---
version: '3'

services:
{% if enable_apple_health_influx %}
  # Apple Health Data Importer
  apple_health_influx:
    image: nickbusey/healthdata_influx:cron
    restart: always
    volumes:
      - /var/homelabos/nextcloud/data/{{ apple_health_nextcloud_username }}/files/export/:/export/
      - /var/homelabos/apple_health_influx/config.yml:/config.yml
{% endif %}

{% if enable_bitwarden %}
  # Password Manager
  bitwarden_web:
    image: mprasil/bitwarden
    restart: always
    volumes:
      - /var/homelabos/bitwarden:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:warden.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.tor.frontend.rule=Host:warden.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

{% if enable_bulletnotes %}

  bulletnotes_db:
    image: mongo:3.2.21
    restart: always
    command: mongod --smallfiles --oplogSize 128
    expose:
      - 27017
    volumes:
      - ./data/bulletnotes-db:/data/db
      - ./data/bulletnotes-db-dump:/dump

  bulletnotes:
    image: nickbusey/bulletnotes
    command: meteor --allow-superuser run
    working_dir: /BulletNotes
    links:
      - bulletnotes_db
    restart: always
    environment:
      - MONGO_URL=mongodb://bulletnotes_db:27017/bulletnotes
      - ROOT_URL=http://bulletnotes.{{ domain }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:bulletnotes.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=3000"
      - "traefik.tor.frontend.rule=Host:bulletnotes.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=3000"

{% endif %}

{% if enable_darksky_influx %}
  # Weather Data Importer
  darksky_influx:
    image: erwinsteffens/darksky-influxdb:latest
    restart: always
    links:
      - influxdb
    environment:
      - DARKSKY_KEY={{ darksky_key }}
      # This is every 2 minutes. This is about as fast as you can go with the free API keys without running out of queries.
      - CRON=0 */2 * * * *
      - INFLUXDB_HOST=influxdb
      - INFLUXDB_DATABASE=darksky
      - DARKSKY_LATITUDE={{ latitude }}
      - DARKSKY_LONGITUDE={{ longitude }}
{% endif %}

{% if enable_dasher %}
  # Amazon Dash Button
  dasher:
    image: hijinx/dasher
    restart: always
    network_mode: host
    volumes:
      - /var/homelabos/dasher/config.json:/usr/src/app/config/config.json
{% endif %}

  # HomelabOS Documentation
  docs:
    image: kyma/docker-nginx
    restart: always
    volumes:
      - /var/homelabos/docs/site:/var/www
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:docs.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.tor.frontend.rule=Host:docs.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"

{% if enable_emby %}
  # Media Server
  emby:
    image: emby/embyserver:latest
    restart: always
    volumes:
      - /var/homelabos/emby:/config
      - /mnt/nas:/mnt/nas
      - /mnt/nas/tmp:/config/transcoding-temp
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:emby.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8096"
      - "traefik.tor.frontend.rule=Host:emby.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8096"
{% endif %}

{% if enable_firefly_iii %}
  # Financial Tracker
  firefly_iii_app:
    restart: always
    environment:
      - FF_DB_HOST=firefly_iii_db
      - FF_DB_NAME=firefly_db
      - FF_DB_USER=firefly_db
      - FF_DB_PASSWORD=firefly_db_secret
      - FF_APP_KEY=S0m3R@nd0mStr1ngOf31Ch@rsEx@ctly
      - FF_APP_ENV=local
      - APP_URL=https://money.{{ domain }}
      - TZ={{ common_timezone }}
      - ServerName=money.{{ domain }}
    image: jc5x/firefly-iii
    links:
      - firefly_iii_db
    volumes:
      - /var/homelabos/firefly/export:/var/www/firefly-iii/storage/export
      - /var/homelabos/firefly/upload:/var/www/firefly-iii/storage/upload
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:money.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.tor.frontend.rule=Host:money.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"

  firefly_iii_db:
    restart: always
    environment:
      - MYSQL_DATABASE=firefly_db
      - MYSQL_USER=firefly_db
      - MYSQL_PASSWORD=firefly_db_secret
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    image: mariadb
    volumes:
      - /var/homelabos/firefly/db:/var/lib/mysql
{% endif %}

{% if enable_gitea %}
  # Code Hosting
  gitea:
    image: gitea/gitea:latest
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: always
    links:
      - gitea_db:db
    volumes:
      - /var/lab/homelabos/gitea:/data
    ports:
      - "3030:3000"
      - "222:22"
    depends_on:
      - gitea_db
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:git.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=3000"
      - "traefik.tor.frontend.rule=Host:git.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=3000"

  gitea_db:
    image: mariadb
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=gitea
      - MYSQL_USER=gitea
      - MYSQL_PASSWORD=gitea
      - MYSQL_DATABASE=gitea
    volumes:
      - /var/homelabos/gitea_db:/var/lib/mysql
{% endif %}

{% if enable_grafana %}
  # Graphing
  grafana:
    image: grafana/grafana
    restart: always
    links:
      - influxdb
    volumes:
      - /var/homelabos/grafana/data/:/var/lib/grafana/
      - /var/homelabos/grafana/dashboards/:/etc/grafana/provisioning/dashboards/
      - /var/homelabos/grafana/datasources/:/etc/grafana/provisioning/datasources/
    environment:
      - GF_INSTALL_PLUGINS=grafana-clock-panel,natel-discrete-panel,petrslavotinek-carpetplot-panel,vonage-status-panel,raintank-worldping-app
{% if smtp_host %}
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST={{ smtp_host }}:{{ smtp_port }}
      - GF_SMTP_USER={{ smtp_user }}
      - GF_SMTP_PASSWORD={{ smtp_pass }}
      - GF_SMTP_FROM_ADDRESS={{ smtp_from_email }}
      - GF_SMTP_FROM_NAME={{ smtp_from_name }}
{% endif %}
      - GF_SECURITY_ADMIN_USER={{ default_username }}
      - GF_SECURITY_ADMIN_PASSWORD={{ default_password }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:grafana.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=3000"
      - "traefik.tor.frontend.rule=Host:grafana.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=3000"
{% endif %}

{% if enable_homeassistant %}
  # Home Automation
  homeassistant:
    image: homeassistant/home-assistant
    volumes:
      - /var/homelabos/homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
      - /etc/letsencrypt:/etc/letsencrypt
    restart: always
    ports:
      - 8123:8123
      - 1883:1883
      # - 8080:8080
      - 51827:51827
    links:
      - influxdb
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:homeassistant.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8123"
      - "traefik.tor.frontend.rule=Host:homeassistant.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8123"
{% endif %}

  # Time Series Data Store
  influxdb:
    image: influxdb
    restart: always
    volumes:
      - /var/homelabos/influxdb:/var/lib/influxdb
    ports:
      - 8086:8086

{% if enable_inventario %}
  # Home Inventory Management
  inventario:
      image: nickbusey/inventario
      restart: always
      links:
          - inventario_db

  inventario_db:
      image: mariadb
      volumes:
          - /var/homelabos/inventario_db:/var/lib/mysql
      environment:
          - MYSQL_ROOT_PASSWORD=inventario
          - MYSQL_DATABASE=inventario
          - MYSQL_TEST_DATABASE=inventario_test
          - MYSQL_USER=inventario
          - MYSQL_PASSWORD=inventario
{% endif %}

{% if enable_jackett %}
  # Torrent API
  jackett:
    image: linuxserver/jackett
    restart: always
    volumes:
      - /var/homelabos/jackett/config:/config
      - /var/homelabos/jackett/downloads:/downloads
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ={{ common_timezone }}
    ports:
      - 9117:9117
{% endif %}

{% if enable_kibitzr %}
  # IFTTT Replacement
  kibitzr:
    image: peterdemin/kibitzr
    restart: always
    volumes:
      - /var/homelabos/kibitzr/config:/root/.config/kibitzr
      - /var/homelabos/kibitzr/pages:/pages
{% endif %}

{% if enable_matomo %}
  # Web Analytics
  matomo_app:
    image: crazymax/matomo:latest
    restart: always
    links:
      - matomo_db:db
    volumes:
      - /var/homelabos/matomo/data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:matomo.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.tor.frontend.rule=Host:matomo.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"

  matomo_db:
    image: mariadb
    restart: always
    volumes:
      - /var/homelabos/matomo/db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=matomo
      - MYSQL_USER=matomo
      - MYSQL_PASSWORD=matomo
      - MYSQL_DATABASE=matomo
{% endif %}

{% if enable_miniflux %}
  # RSS Reader
  miniflux:
    image: miniflux/miniflux:2.0.11
    restart: always
    links:
      - miniflux_db:db
    environment:
      - DATABASE_URL=postgres://miniflux:EsQMeV35CskJPE9eJwwqeV3ZFfZZ@db/miniflux?sslmode=disable
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:rss.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8080"
      - "traefik.tor.frontend.rule=Host:rss.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"

  miniflux_db:
    image: postgres:10.1
    restart: always
    environment:
      - POSTGRES_USER=miniflux
      - POSTGRES_PASSWORD=EsQMeV35CskJPE9eJwwqeV3ZFfZZ
    volumes:
      - /var/homelabos/miniflux/db:/var/lib/postgresql/data
{% endif %}

{% if enable_minio %}
  # S3 Storage for Backups via Restic
  minio:
    image: minio/minio
    restart: always
    command: server /data
    volumes:
      - /mnt/nas/Backups/minio:/data
      - /var/homelabos/minio/config:/root/.minio/
    ports:
      - 9110:9000
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:minio.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=9000"
      - "traefik.tor.frontend.rule=Host:minio.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=9000"
{% endif %}

{% if enable_monicahq %}
  # Personal Relationship Database
  monicahq:
    image: monicahq/monicahq
    restart: always
    links:
      - monicahq_db
    ports:
      - 8176:80
    volumes:
      - /var/homelabos/monica/storage/app/public:/var/www/monica/storage/app/public
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:monica.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.tor.frontend.rule=Host:monica.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
    env_file:
      - /var/homelabos/docker/monica.env

  monicahq_db:
    image: mariadb
    restart: always
    env_file:
      - /var/homelabos/docker/monica.env
    volumes:
      - /var/homelabos/monica/mysql:/var/lib/mysql
{% endif %}

{% if enable_nextcloud %}
  # Calendar, Contact, and Photo Sync Server
  nextcloud:
    image: nextcloud
    restart: always
    links:
      - nextcloud_db
    volumes:
      - /var/homelabos/nextcloud:/var/www/html
      - /mnt/nas/Documents/Nextcloud:/var/www/html/data
    environment:
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=nextcloud
      - MYSQL_HOST=nextcloud_db
      - NEXTCLOUD_ADMIN_USER={{ default_username }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ default_password }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:nextcloud.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.tor.frontend.rule=Host:nextcloud.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"

  nextcloud_db:
    image: mariadb
    restart: always
    volumes:
      - /var/homelabos/nextcloud_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=nextcloud
      - MYSQL_PASSWORD=nextcloud
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
{% endif %}

{% if enable_nzbget %}
  # Usenet Downloader
  nzbget:
    image: linuxserver/nzbget
    restart: always
    ports:
      - 6789:6789
    environment:
      - TZ={{ common_timezone }}
    volumes:
      - /var/homelabos/nzbget:/config
      - /mnt/nas/Downloads:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:nzbget.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=6789"
{% endif %}

{% if enable_openvpn %}
  # VPN Access
  openvpn:
    cap_add:
      - NET_ADMIN
    image: kylemanna/openvpn
    ports:
      - "1194:1194/udp"
    restart: always
    volumes:
      - /var/homelabos/openvpn:/etc/openvpn
{% endif %}

{% if enable_organizr %}
  # Dashboard
  organizr:
    image: organizrtools/organizr-v2
    restart: always
    volumes:
      - /var/homelabos/organizr:/config
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.tor.frontend.rule=Host:{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

{% if enable_paperless %}
  # Document Storage
  paperless:
    image: danielquinn/paperless
    restart: always
    ports:
      - "8325:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - /var/homelabos/paperless/data:/usr/src/paperless/data
      - /var/homelabos/paperless/media:/usr/src/paperless/media
      - /mnt/nas/Documents/consume:/consume
      - /mnt/nas/Documents/export:/export
    environment:
      - PAPERLESS_OCR_LANGUAGES=
      - PAPERLESS_PASSPHRASE=homelabos
    command: ["runserver", "--insecure", "--noreload", "0.0.0.0:8000"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:paperless.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8000"
      - "traefik.tor.frontend.rule=Host:paperless.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8000"

  paperless_consumer:
    image: danielquinn/paperless
    restart: always
    depends_on:
      - paperless
    volumes:
      - /var/homelabos/paperless/data:/usr/src/paperless/data
      - /var/homelabos/paperless/media:/usr/src/paperless/media
      - /mnt/nas/Documents/consume:/consume
      - /mnt/nas/Documents/export:/export
    environment:
      - PAPERLESS_PASSPHRASE=homelabos
    command: ["document_consumer"]
{% endif %}

{% if enable_pihole %}
  # Network level ad blocking
  pihole:
    image: pihole/pihole:latest
    restart: always
    volumes:
      - /var/homelabos/pihole/config/:/etc/pihole/
      - /var/homelabos/pihole/dnsmasq.d/:/etc/dnsmasq.d/
    environment:
      - WEBPASSWORD={{ default_password }}
      - VIRTUAL_HOST=pihole.{{ domain }}
      - ServerIP={{ ansible_ssh_host }}
    # ports:
    #   - 53:53/tcp
    #   - 53:53/udp
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:pihole.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.tor.frontend.rule=Host:pihole.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
    extra_hosts:
      - docker.{{ domain }}:{{ ansible_ssh_host }}
      - docs.{{ domain }}:{{ ansible_ssh_host }}
      - emby.{{ domain }}:{{ ansible_ssh_host }}
      - git.{{ domain }}:{{ ansible_ssh_host }}
      - grafana.{{ domain }}:{{ ansible_ssh_host }}
      - homeassistant.{{ domain }}:{{ ansible_ssh_host }}
      - irc.{{ domain }}:{{ ansible_ssh_host }}
      - matomo.{{ domain }}:{{ ansible_ssh_host }}
      - mastodon.{{ domain }}:{{ ansible_ssh_host }}
      - minio.{{ domain }}:{{ ansible_ssh_host }}
      - money.{{ domain }}:{{ ansible_ssh_host }}
      - monica.{{ domain }}:{{ ansible_ssh_host }}
      - music.{{ domain }}:{{ ansible_ssh_host }}
      - nextcloud.{{ domain }}:{{ ansible_ssh_host }}
      - paperless.{{ domain }}:{{ ansible_ssh_host }}
      - pihole.{{ domain }}:{{ ansible_ssh_host }}
      - portainer.{{ domain }}:{{ ansible_ssh_host }}
      - radarr.{{ domain }}:{{ ansible_ssh_host }}
      - terminal.{{ domain }}:{{ ansible_ssh_host }}
      - torrent.{{ domain }}:{{ ansible_ssh_host }}
      - warden.{{ domain }}:{{ ansible_ssh_host }}
{% endif %}

{% if enable_plex %}
  # Plex Media Server
  plex:
    image: linuxserver/plex
    restart: always
    volumes:
      - /var/homelabos/plex:/config
      - /mnt/nas:/mnt/nas
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:plex.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=32400"
      - "traefik.tor.frontend.rule=Host:plex.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=32400"
{% endif %}

{% if enable_portainer %}
  # Docker Control
  portainer:
    image: portainer/portainer
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/homelabos/portainer:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:docker.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=9000"
      - "traefik.tor.frontend.rule=Host:docker.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=9000"
{% endif %}

{% if enable_sonarr %}
  # TV Downloader
  sonarr:
    image: linuxserver/sonarr
    restart: always
    environment:
      - PGID=1000
      - PUID=1000
      - TZ={{ common_timezone }}
    links:
      - jackett
      - transmission
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/homelabos/sonarr/config:/config
      - /mnt/nas/TV:/tv
      - /var/homelabos/sonarr/downloads:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:sonarr.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8989"
{% endif %}

{% if enable_radarr %}
  # Movie Downloader
  radarr:
    image: linuxserver/radarr
    restart: always
    environment:
      - PGID=1000
      - PUID=1000
      - TZ={{ common_timezone }}
    links:
      - jackett
      - transmission
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/homelabos/radarr/config:/config
      - /mnt/nas/Movies:/movies
      - /mnt/nas/Downloads/completed:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:radarr.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=7878"
{% endif %}

{% if enable_restic %}
  # Backups https://nickbusey.gitlab.io/HomelabOS/software/restic/
  restic:
    image: lobaro/restic-backup-docker:v1.0
    restart: always
    environment:
      - RESTIC_REPOSITORY={{ s3_path }}
      - AWS_ACCESS_KEY_ID={{ s3_access_key }}
      - AWS_SECRET_ACCESS_KEY={{ s3_secret_key }}
      - RESTIC_PASSWORD={{ s3_backup_password }}
      - BACKUP_CRON={{ s3_backup_cron }}
      - HOSTNAME={{ domain }}
      - RESTIC_JOB_ARGS="--exclude=minio"
      - RESTIC_FORGET_ARGS="--prune --keep-last 10 --keep-hourly 24 --keep-daily 7 --keep-weekly 52 --keep-monthly 120 --keep-yearly 100"
    links:
      - minio
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/homelabos:/data:ro
{% endif %}

{% if enable_syncthing %}
  # Sync Server
  syncthing:
    image: linuxserver/syncthing
    restart: always
    volumes:
      - /var/homelabos/syncthing:/config
      - /mnt/nas/Syncthing:/data
      - /mnt/nas:/nas
    environment:
      - PGID=1004
      - PUID=1000
    ports:
      - 22000:22000
      - 21027:21027/udp
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:sync.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8384"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.tor.frontend.rule=Host:sync.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8384"
{% endif %}

  # System Statistics Logger
  telegraf:
    image: telegraf
    restart: always
    volumes:
      - /var/homelabos/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys:/rootfs/sys:ro
      - /proc:/rootfs/proc:ro
      - /etc:/rootfs/etc:ro
      - /mnt/nas:/mnt/nas
    links:
      - influxdb

{% if enable_thelounge %}
  # IRC Bouncer
  thelounge:
    image: linuxserver/thelounge
    volumes:
      - /var/homelabos/thelounge:/config
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:thelounge.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=9000"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.tor.frontend.rule=Host:thelounge.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=9000"
{% endif %}

  # Load Balancer / SSL / Web Server
  traefik:
    image: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "8181:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/homelabos/traefik/traefik.toml:/traefik.toml
      - /var/homelabos/traefik/acme.json:/acme.json

{% if enable_transmission %}
  # Torrent Downloader https://nickbusey.gitlab.io/HomelabOS/software/transmission/
  transmission:
    image: haugene/transmission-openvpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    restart: always
    ports:
      - "9091:9091"
      - "8888:8888"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/nas/Downloads:/data
      - /mnt/nas/Downloads/watch:/data/watch
      - /mnt/nas/Movies:/movies
      - /mnt/nas/TV:/tv
    environment:
      - OPENVPN_PROVIDER=PIA
      - OPENVPN_USERNAME={{ openvpn_username }}
      - OPENVPN_PASSWORD={{ openvpn_password }}
      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 300
      - PGID=0
      - PUID=0
      - TZ={{ common_timezone }}
      - TRANSMISSION_RPC_AUTHENTICATION_REQUIRED=true
      # Password = `transmission`
      - TRANSMISSION_RPC_PASSWORD="{62b16db87b89a91dd49a5110a7cafc06d20eb4f2wtK6kqPj"
      - TRANSMISSION_RPC_USERNAME={{ default_username }}
      - TRANSMISSION_SPEED_LIMIT_UP=100
      - TRANSMISSION_SPEED_LIMIT_UP_ENABLED=true
      - TRANSMISSION_SPEED_LIMIT_DOWN=100
      - TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED=true
      - TRANSMISSION_RATIO_LIMIT=2
      - TRANSMISSION_RATIO_LIMIT_ENABLED=true
    labels:
      - "traefik.enable=true"
      - "traefik.http.frontend.rule=Host:torrent.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=9091"
      - "traefik.tor.frontend.rule=Host:torrent.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=9091"
{% endif %}

{% if enable_xfinityusageinfluxdb %}
  # Bandwidth Usage Logger
  xfinityusageinfluxdb:
    restart: unless-stopped
    image: nickbusey/xfinityusageinfluxdb
    links:
      - influxdb
    environment:
      - XFINITY_USER={{ xfinity_user }}
      - XFINITY_PASSWORD={{ xfinity_password }}
      - INFLUXDB_HOST=influxdb
{% endif %}
...
